{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
			{% block title %}
			{% endblock title %}
			<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
	</head>
	<body>
		<header role="banner" class="center header">	
			<img class="logo" src="{% static 'images/cloud.png' %}"/>	
			<h1 style="    display: inline;">Infrastructure as a service</h1>
			<nav role="navigation">
				<ul>
					<li><a href="" title="Home" class="current">Home</a></li>
					<li><a href="" title="Services">Services</a></li>
					<li><a href="" title="About">About</a></li>
				</ul>
			</nav>

		</header>
		<main role="main">			
			<article class="Services">
				{% block content %}
				{%endblock %}
			</article>
		</main>
		<footer id="colophon">
		</footer>
		<script src="{% static 'scripts/main.js' %}></script>
	</body>
</html>
